




header#main-banner {
    background-color: transparent !important;
}

.site-header nav {
    float: left !important;
    margin-left: 0 !important;
}

.nav-primary .wpsight-menu a {
    color: #e7bc60 !important;
}

.nav-primary .wpsight-menu a:hover {
    color: #3e392b !important;
}



input[type="submit"] {
    background-color: #e7bc60 !important;
}




/***** MEDIA QUERIES *****/

@media screen and (max-width: 1080px) {

	.site-header nav {
	    float: left !important;
	    margin-left: -40px !important;
	    width: max-content !important;
	}

}
