@charset "UTF-8";
@import url(font-awesome.min.css);

/* skel-baseline v3.0.0 | (c) n33 | skel.io | MIT licensed */

/* Reset
================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

small {
	font-size: smaller;
	opacity: .75;
}

/* Basic
================================================== */

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}

body {
	background: #fff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

/* Typography
================================================== */

body, input, select, textarea {
	color: #555;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.65em;
}

@media screen and (max-width: 1680px) {

	body, input, select, textarea {
		font-size: 16px;
	}

}

@media screen and (max-width: 1280px) {

	body, input, select, textarea {
		font-size: 16px;
	}

}

@media screen and (max-width: 980px) {

	body, input, select, textarea {
		font-size: 17px;
	}

}

@media screen and (max-width: 736px) {

	body, input, select, textarea {
		font-size: 17px;
	}

}

@media screen and (max-width: 480px) {

	body, input, select, textarea {
		font-size: 17px;
	}

}

a {
	color: #5AA6ED;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

strong, b {
	color: #555;
	font-weight: bold;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #555;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 0 30px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.35em;
}

h4 {
	font-size: 1.1em;
	margin-bottom: 25px;
}

h5 {
	font-size: 0.9em;
	margin-bottom: 20px;
}

h6 {
	font-size: 0.7em;
	margin-bottom: 15px;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

blockquote {
	border-left: solid 4px rgba(144, 144, 144, 0.25);
	font-style: italic;
	margin: 0 0 2em 0;
	padding: 0.5em 0 0.5em 2em;
}

code {
	background: rgba(144, 144, 144, 0.075);
	border: solid 1px rgba(144, 144, 144, 0.25);
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0 2em 0;
}

pre code {
	display: block;
	line-height: 1.75em;
	padding: 1em 1.5em;
	overflow-x: auto;
}

hr {
	border: 0;
	border-bottom: solid 1px rgba(144, 144, 144, 0.25);
	margin: 2em 0;
}

hr.major {
	margin: 3em 0;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* Forms
================================================== */

form {
	margin: 0 0 2em 0;
}

label {
	color: #555;
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background-color: #f1f5f9 !important;
	border: none;
	border: solid 1px #dfe2e6;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	-moz-transition: background-color .1s ease-in-out, border-color .1s ease-in-out;
	-webkit-transition: background-color .1s ease-in-out, border-color .1s ease-in-out;
	-ms-transition: background-color .1s ease-in-out, border-color .1s ease-in-out;
	transition: background-color .1s ease-in-out, border-color .1s ease-in-out;
	width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="search"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
	border-color: rgba(0,0,0,.15);
}

.select-wrapper {
	text-decoration: none;
	display: block;
	position: relative;
}

.select-wrapper:before {
	content: '\f107';
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.select-wrapper:before {
	color: #dfe2e6;
	display: block;
	height: 2.25em;
	line-height: 2.25em;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 2.25em;
}

.select-wrapper select::-ms-expand {
	display: none;
}

.select-wrapper select {
	border-radius: 0;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
select {
	height: 2.25em;
}

textarea {
	padding: 0.75em 1em;
	background-color:#fff !important;
}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	text-decoration: none;
	color: #444;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: normal;
	padding-left: 2.4em;
	padding-right: 0.75em;
	position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	background: #f1f5f9;
	border: solid 1px rgba(223,226,230,.6);
	content: '';
	display: inline-block;
	height: 1.65em;
	left: 0;
	line-height: 1.58125em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
	background-color: #a4ce59;
	border-color: #a4ce59;
	color: #ffffff;
	content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
}

input[type="checkbox"] + label:before {
}

input[type="radio"] + label:before {
	border-radius: 100%;
}

::-webkit-input-placeholder {
	color: #bbb !important;
	opacity: 1.0;
}

:-moz-placeholder {
	color: #bbb !important;
	opacity: 1.0;
}

::-moz-placeholder {
	color: #bbb !important;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: #bbb !important;
	opacity: 1.0;
}

.formerize-placeholder {
	color: #bbb !important;
	opacity: 1.0;
}

/* Boxes
================================================== */

.box {
	border: solid 1px rgba(144, 144, 144, 0.25);
	margin-bottom: 2em;
	padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
	margin-bottom: 0;
}

.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Icons
================================================== */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

/* Images
================================================== */

.image {
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	display: block;
}

.image.left, .image.right {
	max-width: 40%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.center,
.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.center img {
	margin-left: auto;
	margin-right: auto;
}

.image.fit img {
	width: 100%;
}

.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}

.image.main img {
	width: 100%;
}

/* Lists
================================================== */

ol {
	list-style: decimal;
	margin: 0 0 2em 0;
	padding-left: 1.25em;
}

ol li {
	padding-left: 0.25em;
}

ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em;
}

ul li {
	padding-left: 0.5em;
}

ul.alt {
	list-style: none;
	padding-left: 0;
}

ul.alt li {
	border-top: solid 1px rgba(144, 144, 144, 0.25);
	padding: 0.5em 0;
}

ul.alt li:first-child {
	border-top: 0;
	padding-top: 0;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 1em 0 0;
}

ul.icons li:last-child {
	padding-right: 0;
}

ul.icons li .icon:before {
	font-size: 2em;
}

ul.actions {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.actions li {
	display: inline-block;
	padding: 0 1em 0 0;
	vertical-align: middle;
}

ul.actions li:last-child {
	padding-right: 0;
}

ul.actions.small li {
	padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
	display: block;
	padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
	padding-top: 0;
}

ul.actions.vertical li > * {
	margin-bottom: 0;
}

ul.actions.vertical.small li {
	padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
	padding-top: 0;
}

ul.actions.fit {
	display: table;
	margin-left: -1em;
	padding: 0;
	table-layout: fixed;
	width: calc(100% + 1em);
}

ul.actions.fit li {
	display: table-cell;
	padding: 0 0 0 1em;
}

ul.actions.fit li > * {
	margin-bottom: 0;
}

ul.actions.fit.small {
	margin-left: -0.5em;
	width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
	padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {

ul.actions {
	margin: 0 0 2em 0;
}

ul.actions li {
	padding: 1em 0 0 0;
	display: block;
	text-align: center;
	width: 100%;
}

ul.actions li:first-child {
	padding-top: 0;
}

ul.actions li > * {
	width: 100%;
	margin: 0 !important;
}

ul.actions li > *.icon:before {
	margin-left: -2em;
}

ul.actions.small li {
	padding: 0.5em 0 0 0;
}

ul.actions.small li:first-child {
	padding-top: 0;
}

}

dl {
	margin: 0 0 2em 0;
}

dl dt {
	display: block;
	font-weight: bold;
	margin: 0 0 1em 0;
}

dl dd {
	margin-left: 2em;
}

/* Tables
================================================== */

.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

table {
	margin: 0 0 2em 0;
	width: 100%;
}

table tbody tr {
	border: solid 1px rgba(144, 144, 144, 0.25);
	border-left: 0;
	border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
	background-color: rgba(144, 144, 144, 0.075);
}

table td {
	padding: 0.75em 0.75em;
}

table th {
	color: #555;
	font-size: 0.9em;
	font-weight: bold;
	padding: 0 0.75em 0.75em 0.75em;
	text-align: left;
}

table thead {
	border-bottom: solid 2px rgba(144, 144, 144, 0.25);
}

table tfoot {
	border-top: solid 2px rgba(144, 144, 144, 0.25);
}

table.alt {
	border-collapse: separate;
}

table.alt tbody tr td {
	border: solid 1px rgba(144, 144, 144, 0.25);
	border-left-width: 0;
	border-top-width: 0;
}

table.alt tbody tr td:first-child {
	border-left-width: 1px;
}

table.alt tbody tr:first-child td {
	border-top-width: 1px;
}

table.alt thead {
	border-bottom: 0;
}

table.alt tfoot {
	border-top: 0;
}

/* Buttons
================================================== */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	background-color: #a4ce59;
	border: 0;
	color: #ffffff !important;
	cursor: pointer;
	display: inline-block;
	font-weight: normal;
	height: 2.35em;
	line-height: 2.35em;
	max-width: 100%;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	background-color: rgba(164,206,89,.85);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
	background-color: #a4ce59;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
	padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
	font-size: 0.8em;
}

input[type="submit"].small.icon:before,
input[type="reset"].small.icon:before,
input[type="button"].small.icon:before,
button.icon:before,
.button.icon:before {
	margin-left: -0.25em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
	font-size: 1.35em;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px rgba(164,206,89,.85);
	color: rgba(164,206,89,.75) !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #a4ce59;
	color: #a4ce59 !important;
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px rgba(164,206,89,.75);
	color: rgba(164,206,89,.75) !important;
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
	color: inherit;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
	background-color: #3c3b3b;
	color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
	background-color: rgba(60,59,59,.85);
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
	background-color: #3c3b3b;
}

input[type="submit"].danger,
input[type="reset"].danger,
input[type="button"].danger,
button.danger,
.button.danger {
	background-color: rgba(231,76,60,.9);
	color: #ffffff !important;
}

input[type="submit"].danger:hover,
input[type="reset"].danger:hover,
input[type="button"].danger:hover,
button.danger:hover,
.button.danger:hover {
	background-color: rgba(231,76,60,.85);
}

input[type="submit"].danger:active,
input[type="reset"].danger:active,
input[type="button"].danger:active,
button.danger:active,
.button.danger:active {
	background-color: rgba(231,76,60,.9);
}

input[type="submit"].danger.alt,
input[type="reset"].danger.alt,
input[type="button"].danger.alt,
button.danger.alt,
.button.danger.alt {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px rgba(231,76,60,.3);
	color: rgba(231,76,60,.75) !important;
}

input[type="submit"].danger.alt.icon:before,
input[type="reset"].danger.alt.icon:before,
input[type="button"].danger.alt.icon:before,
button.danger.alt.icon:before,
.button.danger.alt.icon:before {
	color: rgba(231,76,60,.5);
}

input[type="submit"].danger.alt:hover,
input[type="reset"].danger.alt:hover,
input[type="button"].danger.alt:hover,
button.danger.alt:hover,
.button.danger.alt:hover {
	box-shadow: inset 0 0 0 2px rgba(231,76,60,.75);
}

input[type="submit"].danger.alt:active,
input[type="reset"].danger.alt:active,
input[type="button"].danger.alt:active,
button.danger.alt:active,
.button.danger.alt:active {
	box-shadow: inset 0 0 0 2px rgba(231,76,60,.5);
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
	background-color: #444 !important;
	box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
	color: #fff !important;
	cursor: default;
	opacity: 0.25;
}

/* Navigation
================================================== */

.wpsight-menu {
	line-height: 1;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
}

.wpsight-menu.wpsight-menu-right {
	text-align: right;
}

.wpsight-menu.wpsight-menu-center {
	text-align: center;
}

.wpsight-menu .menu-item {
	display: inline-block;
	padding: 0;
	text-align: left;
}

.wpsight-menu a {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #3c3b3b;
	display: block;
	height: 60px;
	line-height: 60px;
	/* margin-left: -4px; */
	padding: 0 10px;
	text-decoration: none;
}

.wpsight-menu a:hover {
	color: rgba(60,59,59,.75);
}

.wpsight-menu .sub-menu {
	background-color: #fff;
	border-top: 1px solid rgba(144,144,144,.25);
	left: -9999px;
	margin: 0 0 0 -10px;
	opacity: 0;
	padding: 0;
	position: absolute;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition:    opacity .2s ease-in-out;
	-ms-transition:     opacity .2s ease-in-out;
	-o-transition:      opacity .2s ease-in-out;
	transition:         opacity .2s ease-in-out;
	width: 200px;
	z-index: 99;
}

.wpsight-menu .sub-menu a {
	border: 1px solid rgba(144,144,144,.25);
	border-top: none;
	color: #502732;
	height: 60px;
	line-height: 60px;
	margin-left: 0;
	padding: 0 20px;
	position: relative;
	width: 200px;
}

.wpsight-menu .sub-menu a:hover {
	background-color: rgba(241,245,249,.5);
	color: #502732;
}

.wpsight-menu .sub-menu .sub-menu {
	margin: -61px 0 0 199px;
}

.wpsight-menu .menu-item:hover {
	position: static;
}

.wpsight-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.wpsight-menu > .first-menu-item > a {
	margin-left: 0;
	padding-left: 0;
}

.wpsight-menu > .last-menu-item > a {
	padding-right: 0;
}

/* Primary Navigation
================================================== */

.nav-primary .wpsight-menu a {
	height: 60px;
	line-height: 60px;
}

.nav-primary .wpsight-menu .sub-menu a {
	height: 50px;
	line-height: 50px;
}

/* Responsive Menu
================================================== */

.responsive-menu-icon {
	cursor: pointer;
	display: none;
}

.responsive-menu-icon::before {
	background-color: rgba(144,144,144,.075);
	content: "\f0c9";
	cursor: pointer;
	display: block;
	font: normal 24px/1 'FontAwesome';
	line-height: 60px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

@media screen and (max-width: 980px) {
	
	.wpsight-menu {
		visibility: hidden;
	}

	.wpsight-menu.responsive-menu {
		display: none;
	}

	.wpsight-menu.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
		margin: 0;
		visibility: visible;
	}

	.wpsight-menu.responsive-menu .menu-item:hover {
		position: static;
	}

	.wpsight-menu.responsive-menu > .first-menu-item {
		padding-top: 10px;
	}
	
	.wpsight-menu.responsive-menu > .last-menu-item {
		padding-bottom: 10px;
	}
	
	.wpsight-menu.responsive-menu li a {
		height: 50px;
		line-height: 50px;		
	}

	.wpsight-menu.responsive-menu .sub-menu li.current-menu-item > a:hover,
	.wpsight-menu.responsive-menu li a,
	.wpsight-menu.responsive-menu li a:hover,
	.wpsight-menu.responsive-menu li.current-menu-item > a {
		border: none;
		color: inherit;
		display: block;
		margin-left: 0;
		padding: 0 20px;
		text-transform: none;
	}
	
	.nav-top .wpsight-menu.responsive-menu .sub-menu li.current-menu-item > a:hover,
	.nav-top .wpsight-menu.responsive-menu li a,
	.nav-top .wpsight-menu.responsive-menu li a:hover,
	.nav-top .wpsight-menu.responsive-menu li.current-menu-item > a {
		color: #fff;
	}

	.wpsight-menu.responsive-menu .menu-item-has-children {
		cursor: pointer;
	}

	.wpsight-menu.responsive-menu .menu-item-has-children > a {
		margin-right: 60px;
	}

	.wpsight-menu.responsive-menu > .menu-item-has-children:before {
		content: "\f347";
		float: right;
		font: normal 16px/1 'dashicons';
		line-height: 50px;
		padding: 0 20px;
		right: 0;
		text-align: right;
		z-index: 9999;
	}
	
	.nav-top .wpsight-menu.responsive-menu > .menu-item-has-children:before {
		color: #fff;
	}

	.wpsight-menu.responsive-menu .menu-open.menu-item-has-children:before {
		content: "\f343";
	}

	.wpsight-menu.responsive-menu > .menu-item > .sub-menu {
		display: none;
		margin: 0;
	}

	.wpsight-menu.responsive-menu .sub-menu {
		background-color: rgba(144,144,144,.1);
		border: none;
		left: auto;
		opacity: 1;
		position: relative;
		-moz-transition:    opacity .2s ease-in-out;
		-ms-transition:     opacity .2s ease-in-out;
		-o-transition:      opacity .2s ease-in-out;
		-webkit-transition: opacity .2s ease-in-out;
		transition:         opacity .2s ease-in-out;
		width: 100%;
		z-index: 99;
	}

	.wpsight-menu.responsive-menu .sub-menu .sub-menu {
		margin: 0;
	}

	.wpsight-menu.responsive-menu .sub-menu li a,
	.wpsight-menu.responsive-menu .sub-menu li a:hover {
		position: relative;
		text-transform: none;
		width: 100%;
	}

	.wpsight-menu.responsive-menu .current-menu-item > a,
	.wpsight-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
	.wpsight-menu.responsive-menu > li.menu-item-has-children:hover > a,
	.wpsight-menu.responsive-menu a:hover {
		background: none;
	}
	
	.site-header-bg hr {
		display: none;
	}

}

/* Clearing
================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}